.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: white;
}

.header img {
  width: 320px;
  height: auto;
  border-radius: 0;
  object-fit: contain;
}