.hero {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-content: center;
  position: relative; /* needed for absolute positioning */
  background-color: var(--secondary-color);
  padding: 3rem 2rem;
  gap: 1.5rem;
}

.hero-text {
  max-width: 50%;
  color: var(--neutral-light);
  line-height: 1.5;
  white-space: normal;
  justify-self: center;
  align-self: start;
}

.hero-image {
  position: absolute;
  bottom: -40px;       /* controls overlap into specials section */
  right: 16rem;         /* adjust horizontal placement */
  width: 100%;
  max-width: 260px;
  border-radius: 8px;
  object-fit: cover;
}

.hero button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--radius);
  font-weight: 800;
  font-size: 1.25rem; /* 18px */
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.hero button:hover {
  background-color: #e3bd12;
}

.hero-text h1 {
  color: var(--primary-color);
  font-size: 4rem;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.hero-text h2 {
  color: var(--neutral-light);
  font-size: 2.25rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-text h1,
.hero-text h2 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}

.hero-text p {
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 45ch;
}