@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './layout.css';

/* Components */
@import './components/header.css';
@import './components/nav.css';
@import './components/hero.css';
@import './components/specials.css';
@import './components/testimonials.css';